{% if pagination.total > 1 %}
<ul class="pagination">
    {% set skip = false %}
    {% for page in pagination.pages %}
    {% if
        page.title == 1
        or page.title == pagination.total
        or pagination.current == page.title
        or (pagination.current == 1 and page.title < 1+3)
        or (pagination.current == pagination.total and page.title > pagination.total-3)
        or page.title == pagination.current-1
        or page.title == pagination.current+1
    %}
        {% set skip = false %}
        <li class="pagination__item">
            {% if page.current %}
                <span class="pagination__link pagination__link--current">{{ page.title }}</span>
            {% else %}
                <a href="{{ page.link }}" class="pagination__link">{{ page.title }}</a>
            {% endif %}
        </li>
    {% else %}
        {% if not skip %}
            <li class="pagination__item">...</li>
        {% endif %}
        {% set skip = true %}
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
