{% extends "base.twig" %}

{% block content %}

    <div class="template-search">
        <h1>{{ title }}</h1>

        {% if posts|length > 0 %}
            <ul class="template-search__list">
                {% for post in posts %}
                    <li class="posts__item">
                        <article class="post">
                            <h1><a href="{{ post.link }}">{{ post.title }}</a></h1>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ __('Pas de résultats...') }}</p>
        {% endif %}
    </div>
{% endblock %}
